html,
body {
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	display: flex;
	background-color: rgb(66, 66, 66);
}

.icon {
	height: 2.5em;
	width: 2.5em;
	padding: 0.5em;
	border-radius: 10px;
	transition: background-color 0.4s;
}

.inverted {
	filter: invert();
}

.inverted:hover {
	filter: none;
}

.icon:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.lang {
	width: calc(2em * 4 / 3 + 0.5em);
}

.lang > img {
	box-sizing: content-box;
	border: 4px solid black;
	height: 2em;
	width: calc(2em * 4 / 3);
	border-radius: 10px;
	transition: opacity 1s;
	cursor: pointer;
}

nav {
	padding: 0.5em 1em;
	background-color: rgb(40, 40, 40);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.home-title {
	all: unset;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	width: inherit;
}

.home-title > span {
	font-size: 1.5em;
	font-weight: 600;
	width: 100%;
	color: white;
	cursor: pointer;
}

.nav-items {
	display: flex;
	gap: 1em;
}

main {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	overflow: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.images-container > img {
	transition: 0.5s;
	position: absolute;

	height: 100%;
	border: 2px solid black;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.5s;
	flex-wrap: wrap;
}

.modal-content > a {
	width: 100%;
	white-space: nowrap;
}

.modal-content {
	background-color: #e2e2e2;
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 2em 3em;
	border: 1px solid #888;
	width: min-content;
	border-radius: 10px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 3em;
	font-weight: bold;
	transform: translateY(-10px);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-content > a {
	color: #000;
	display: flex;
	font-size: 2em;
	justify-content: start;
	gap: 1em;
	align-items: center;
	margin-bottom: 1em;
}

.modal-content > a:hover,
.modal-content > a:focus {
	text-decoration: none;
	color: #525252;
}

@media only screen and (max-width: 768px) {
	.home-title > span {
		font-size: 1.5em;
		font-weight: 600;
	}
	.icon {
		height: 2em;
		width: 2em;
	}
	.lang {
		width: calc(1.5em * 4 / 3 + 0.5em);
	}
	.lang > img {
		height: 1.5em;
		width: calc(1.5em * 4 / 3);
		border-radius: 10px;
	}
	nav {
		padding: 1em;
	}
	.nav-items {
		display: flex;
		gap: 1em;
	}
	.modal-content {
		padding: 1.5em;
	}
	.modal-content:nth-child(0) > a {
		display: none;
	}
	.modal-content > a {
		font-size: 1em;
	}
}
